<launch>

  <node pkg="laser-odom_calibration" name="calib" type="io_test" output="screen">
    <param name="file_path" type="string" value="/home/bot/workspace/" />
    <param name="bagname" type="string" value="2020-04-24-04-36-00" />
    <param name="laser_topic" type="string" value="/scan_left" />
    <param name="odom_topic" type="string" value="/odom_report" />
  </node>

</launch>
